*{
    text-align: center;
    margin: 0;
    padding: 0;
    /*background-image: url("img/Fondo-02.png");*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position:right top;
}
.headerNav a{
    text-decoration: none;
}
.headerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #751375e8;
}
.headerNav h1{
    font-size: 40px;
    width: 100%;
    margin: 0% 5% ;
    display: flex;
    font-family: "single day";

    
}
.navUl{
    padding-right: 2%;
    justify-content:right;
    top:0;
    width:90%;
    border-radius: 5px;
}
.headerNav ul{
    display: flex;
    list-style: none;
    color: black;
    gap:20px;
    font-size: 15px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    
}
.headerNav a{
    text-decoration: none;
    color: black;
}
.headerNav a:hover{
    border-bottom: 2px solid #e303e3;
    text-decoration:#e303e3;
    opacity: 70%;
}
/*-------------------------------------Estilo seccion inicio-------------------*/
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    gap: 100px;
    padding-top: 70px; 
    margin-top: 10px;
}
.sectionDiv h2{
    font-size: 70px;
    color:#751375;
}
.sectionDiv span{
    font-family: "Rubik Doodle Shadow";
    font-size: 70px;
    color: #751375;
}
.sectionDiv p{
    margin-left: 50px;
    padding-left: 20px; 
    font-size: 15px;
    text-align:justify;
}
.sectionDiv .button{ 
    margin: 10px ;
    background-color: transparent;
    border-radius: 100px;
    color:  #751375;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    gap: 100px;
    border: 2px solid #751375;
}
.sectionDiv .button:hover{
    background: #751375; 
    color: white;
}
.sectionDiv2 img{
    align-items: center;
    width: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 100px;
    background-color: #75137546;    
}
/*--------------------------------Estilo sobre mi---------------------------*/
.sobreMi{
    font-size: 25px;
    margin:0px 70px 0px 70px;
    text-align: center;
    align-items: center;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
.sobreMi h2{
    margin: 45px;
    text-align: center;
    justify-content: space-around;
    font-weight: 700;
}
.sobreMi div{
    display: flex;
    margin: 40px;
    font-size: 18px;
    text-align: center;
    align-items: center;
}
.sobreMi p{
    text-align: justify;
}
/*------------------------------------------------Estilo del carrusel de imagenes------------------------*/
.mainProyec h3{
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    font-size: 40px;
    margin: 10px;
    color: #751375;
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.imagenes img{
    box-shadow: 0px 4px 10px 0px rgba(18, 1, 49, 0.993);
    height: 576px;
    width: 700px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}
.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(-20px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(161, 118, 240, 0.25);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.texto h3{
    padding-top: 30px;
    color: black;
    font-weight: 300;
    font-size: 27px;
}
.texto p{
    margin: 10px;
    align-items: center;
    text-align:justify;    
    color:black;
    font-size: 0px;
    font-weight: 300;
}
.imagenes .texto{
    width: 600px;
    height: 100px;
    transition: 1s;
}
.imagenes .verMas{
    margin: 10px;
    align-items: center;
    text-align:justify;    
    color:black;
    font-size: 0px;
}
.imagenes:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 350px;
    background-color: rgba(153, 53, 247, 0.25);
}
.imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    margin: 20px;
    padding: 20px;
}
.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #5E17EB ;
}
/*---------------------------------------------------------Estilo resumen------------------------------------------*/
#resumen{
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
 h4{
    text-align: center;
    font-size: 38px;
    margin-top: 20px;
    font-weight: bold;
}
.containerResumen{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #832561;
}
  .arti-container{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .div-container{
    padding: 10px;
  }
  .div-caract1 {
    display: flex;
    align-items: center;
    font-size: 19px;
}
.div-caract1 ul{
    margin: 8px;
    list-style: none;
    margin-left: 8px;
}    
.experienciaAño{
    color: #832561;
}
.Cargo{
    font-size: 25px;
    font-weight:500;
   
}
.empresa{
    font-size: 20px ;
    font-weight: 490;
    font-style: italic;
}
.funciones li{
    text-align:justify;
}
/*------------------------------------------------Estilo de habilidades---------------------------------------------------------*/
.habilidades{

    justify-content: center;
    align-items: center;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
.habilidades h5{
    font-size: 34px;
}
.habilidades p{
    margin-bottom: 30px;
    padding-top:40px ;
    padding-bottom:  20px;
    font-size: 25px;
}
.habilidadesDiv{
    font-size: 25px;    
}
.containerHabilidades{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 120px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;

}
.containerHabilidades .progress{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #444444d2 linear-gradient(to right, transparent 50%, var(--clr) 0);
}
.containerHabilidades .progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    z-index: 1;
    font-weight: 400;
}

.containerHabilidades .progress h3 span{
    font-size: 30px;
    font-weight: 400;
}
.containerHabilidades .progress h4{
    display: flex;
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
}
.containerHabilidades .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.containerHabilidades .progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: #E3E2DD;
}
.containerHabilidades .progress::before{
    background: var(--clr);
    transform: rotate(calc((var(--i) - 50) * 0.01turn));
}
/*---para valores de menor del 50%--*/
.containerHabilidades .progress.less::before{
    background:  #60605F;
    transform: rotate(calc((var(--i) - 0) * 0.01turn));
}
.container2{
    margin-bottom: 150px;
}
/*------------------------------------------------Estilo de contactenos---------------------------------------------------------*/
.container-form {
    align-items: center;
    padding: 10px;
    width: 100%; 
    max-width: 1250px; 
    margin: 20px; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    margin-top: 90px; 
    background-color:  rgba(152, 158, 243, 0.25);
    border-radius: 15px 50px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}

.container-form h6 { 
    font-size: 35px;
    margin-bottom: 15px;
}

.container-form p {
    margin-left: 40px;
    font-size: 17px; 
    line-height: 1.6;  
    text-align:justify;
}


.container-form a {
    margin-left: 40px;
    font-size: 20px; 
    display: inline-block; 
    text-decoration: none; 
    width: 100%; 
    margin-bottom: 5px; 
    color: black; 
    font-weight: 700; 
    text-align: left;
}


.container-form a i {
    color: #751375; 
    margin-right: 10px; 
}
.formato{
    margin: 5px;
    padding: 10px;
    appearance: none;
    outline: none;
}
.container-form form .campo,
.container-form form textarea {
    all: unset;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    width: 85%; 
    padding: 15px 10px; 
    margin-bottom: 5px; 
    background: transparent;
    bottom: 0;
    border-bottom: 1px solid rgba(46, 11, 56, 0.11);
}

.container-form:focus form .campo,
.container-form:focus form textarea {
    border-bottom: 1px double rgba(46, 11, 56, 0.511);
  }
  
.container-form:hover form .campo,
.container-form:hover form textarea  {
    border-bottom: 2px double rgba(46, 11, 56, 0.411);
    cursor: pointer;
}
::placeholder {
    color: black;
    font-size: 19px;
    opacity: 0.15;
  }

.container-form form textarea {
    max-width: 500px; 
    min-width: 500px; 
    min-height: 120px;
    max-height: 120px;
}

.container-form .btn-enviar {
    margin: 10px ;
    background-color: transparent;
    border-radius: 100px;
    color:  #751375;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    gap: 100px;
    border: 2px solid #751375;
    
}

.container-form .btn-enviar:hover {
    background: #751375; 
    color: white;/* Cambia el color de fondo al pasar el mouse */
}
/*------------------------------------------------Estilo de footer---------------------------------------------------------*/
footer{
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    align-items: center; 
    font-size: 20px;
}
footer i{
    display: flex;
    justify-content: space-between;  
    color: #751375;
   
}
.text-center{
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
/*-------Desing Responsive Ipad 11Pro-------*/
@media only screen and (max-width: 834px) {
    .headerNav h1{
        font-size: 60px;
        margin-right: 1%;
        width: 40%;
    }
    .sectionDiv h2{
        padding-left: 5%;
    }
    .mainContainer{
        gap: 5%;
    }
    .sectionDiv p{
        margin-left:10% ;
    }
    .div-formato{
        font-size: 20%;
    }
    .sectionDiv h2{
        font-size: 50px;
    }

    .container-form {
    margin: 1%;
    height: 30%;
    width: 95%;
    }
    .container-form p,
    .container-form a{
        margin-left: 2%;
        margin-right: 1%;
    }
    .container-form form textarea {
        max-width: 400px; 
        min-width: 200px; 
        min-height: 120px;
        max-height: 120px;
    }
}
/*-------Desing Responsive Ipad 13Pro-------*/
@media only screen and (max-width: 390px) {
    .headerNav h1{
        font-size: 30px;
    }
    .sobreMi h2{
        margin: 0.5%;
    }
    .sobreMi {
        margin: 0.5%;
    }
    .imagenes img{
        width: 100%;
        height: auto;
    }
    .imagenes .texto {
        padding: 0;
        width: 300px;
        height: 60px;
        transition: 1s;
    }
    .imagenes .texto h3{
        padding: 2%;
        font-size: 100%;
        width: auto;
    }
    .imagenes:hover .texto{
        transform: translateY(-20px);
        height: 300px;
    }
    .imagenes:hover .texto p{
        font-size: 100%;
        margin: 2%;
        padding: 2%;
    }
    
}